*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.pattern{
    background-image: url('../img/pattern.png');
    width: 100vw;
    height: 150px;
    background-color:#007fff;
    position: relative;
}

#logo{
    position: absolute;
    bottom:10px;
    height: auto;
    width: 150px;
}
.grassetto{
    color: rgb(16, 176, 229);
    display: inline;
}
div{
    color: grey;
    
}
#immaginiblock{
    margin-bottom: 15px;
    margin-top: 15px;
}